#####################################
default_debug=${default_debug=1}
default_d_log=${default_d_log=1}
default_d_dblog=${default_d_dblog=1}
default_citation=${default_citation=0}
default_numchans=${default_numchans=20}
default_numtables=${default_numtables=30}
default_numdomains=${default_numdomains=20}

#####################################
default_locname=${default_locname=''}
default_locdomain=${default_locdomain='none'}
default_signature=${default_signature='"MMDF mail system"'}
default_login=${default_login='mmdf'}
default_addr=${default_addr=''}
default_mmdf_prefix=${default_mmdf_prefix='/usr/mmdf'}
default_mmdf_spool=${default_mmdf_spool='/var/spool/mmdf'}
default_mmdftailor=${default_mmdftailor='$ac_cv_value_mmdf_prefix/mmdftailor'}
default_cmddfldir=${default_cmddfldir='$ac_cv_value_mmdf_prefix'}
default_logdfldir=${default_logdfldir='$ac_cv_value_mmdf_spool/log'}
default_phsdfldir=${default_phsdfldir='$ac_cv_value_mmdf_spool/log/phase'}
default_tbldfldir=${default_tbldfldir='$ac_cv_value_mmdf_prefix/table'}
default_tbldbm=${default_tbldbm='$ac_cv_value_tbldfldir/mmdfdbm'}
default_quedfldir=${default_quedfldir='$ac_cv_value_mmdf_spool/home'}
default_chndfldir=${default_chndfldir='$ac_cv_value_mmdf_prefix/chans'}
default_lckdfldir=${default_lckdfldir='/tmp/mmdf'}
#default_zap_env=${default_zap_env="TZ=MEZ-1MESZ"}
default_warntime=${default_warntime='48'}
default_failtime=${default_failtime='96'}
default_maxhops=${default_maxhops='20'}
default_lnk_listsize=${default_lnk_listsize='12'}
default_maxqueue=${default_maxqueue='300'}
default_mailsleep=${default_mailsleep='600'}
default_locmachine=${default_locmachine='$ac_cv_value_locname'}
default_authrequest=${default_authrequest='$ac_cv_value_addr'}
default_authfile=${default_authfile='$ac_cv_value_mmdf_prefix/warning'}
#default_
