# Sample configuration for Linux-elf
#
# Linux galadriel 2.0.33 #7 Mon Mar 16 17:55:45 MET 1998 i586
# System: RedHat 4.2
# libc: 5.4.30
#
CONFIG_CODE_WRAP=yes
CONFIG_CODE_NAMESERVER=yes
CONFIG_CODE_DBM=yes
CONFIG_CODE_NIS=no
CONFIG_CODE_NN=no
CONFIG_CODE_NOSRCROUTE=yes

CONFIG_LIB_DIAL=no

CONFIG_SRC_BADUSERS=yes
CONFIG_SRC_BBOARDS=no
CONFIG_SRC_BLOCKADDR=no
CONFIG_SRC_DELAY=no
CONFIG_SRC_EAN=no
CONFIG_SRC_LIST=yes
CONFIG_SRC_NIFTP=no
CONFIG_SRC_PHONE=no
CONFIG_SRC_POBOX=no
CONFIG_SRC_POP=no
CONFIG_SRC_PROG=yes
CONFIG_SRC_SMPHONE=no
CONFIG_SRC_SMTP=yes
CONFIG_SRC_UUCP=yes

CONFIG_UIP_MSG=yes
CONFIG_UIP_OTHER=yes
CONFIG_UIP_SEND=yes
CONFIG_UIP_SND=yes
CONFIG_UIP_UCBMAIL=no
CONFIG_UIP_UNSUPPORTED=no
