#
#
#
# Settings 
#     Enable tcp_wrapper implementation in smtpsrvr. With the 
#     tcp_wrapper package you can monitor and filter incoming request
#     to the smtp server. Over the ident-protocol (RFC931) you can 
#     get the calling username.
CONFIG_CODE_WRAP=yes
CONFIG_CODE_NAMESERVER=yes
CONFIG_CODE_DBM=yes
CONFIG_CODE_NIS=no
CONFIG_CODE_NN=no
CONFIG_CODE_NOSRCROUTE=yes

# 
#
CONFIG_LIB_DIAL=no

#
# Channel-programs that should be compiled
#
CONFIG_SRC_BADUSERS=yes
CONFIG_SRC_BBOARDS=no
CONFIG_SRC_BLOCKADDR=no
CONFIG_SRC_DELAY=no
CONFIG_SRC_EAN=no
CONFIG_SRC_LIST=yes
CONFIG_SRC_NIFTP=no
CONFIG_SRC_PHONE=no
CONFIG_SRC_POBOX=no
CONFIG_SRC_POP=no
CONFIG_SRC_PROG=yes
CONFIG_SRC_SMPHONE=no
CONFIG_SRC_SMTP=yes
CONFIG_SRC_UUCP=yes

#
# User Agents that should be compiled.
CONFIG_UIP_MSG=yes
CONFIG_UIP_OTHER=yes
CONFIG_UIP_SEND=yes
CONFIG_UIP_SND=yes
CONFIG_UIP_UCBMAIL=no
CONFIG_UIP_UNSUPPORTED=no
